@import "../styles/custom-media.css";

.root {
  box-sizing: border-box;
  flex-basis: 0;
  flex-grow: 1;
  padding: 1.5em;
  display: flex;
  height: calc(100vh - 82px);
  overflow: scroll;

  @media (--media-min-small) {
    padding: 2em;
  }
}

.button {
  width: 100px;
  height: 100px;
  margin: 1em;
}