@import "../styles/custom-media.css";

.root {
  box-sizing: border-box;
  flex-basis: 0;
  flex-grow: 1;
  padding: 1.5em;
  color: seagreen;
  border: 1px solid seagreen;
  display: flex;

  @media (--media-min-small) {
    padding: 2em;
  }
}

.canvas {
  padding: 1em;
  border: 1px solid salmon;
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
}

.flexItem {
  border: 1px solid salmon;
  margin: 1em;
  padding: .5em;
}

.flexItem__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: .75rem;
}

.flexItemSelected {
  border-width: 3px;
}

.button {
  width: 100px;
  height: 100px;
  margin: 1em;
}
